server:
  port: ${APP_PORT}
spring:
  profiles:
    active: ${SPRING_PROFILE}
  application:
    name: boni-api
  datasource:
    url: jdbc:postgresql://${DATABASE_URL}
    username: ${DATABASE_USER_NAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
security:
  jwt:
    secret-key: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION_TIME}
    refresh-token-expiration: ${JWT_REFRESH_EXPIRATION_TIME}
